.hover3 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 369px;
  min-width: 392px;
  overflow-x: hidden;
}

.overlap-group1-6 {
  height: 367px;
  margin-left: -13px;
  margin-top: 2.49px;
  position: relative;
  width: 405px;
}

.rectangle-2725-3 {
  height: 360px;
  left: 13px;
  position: absolute;
  top: 7px;
  width: 392px;
}

.bump-3 {
  height: 17px;
  left: 27px;
  position: absolute;
  top: 0;
  width: 37px;
}

.mainnet {
  height: 45px;
  left: 67px;
  letter-spacing: -0.64px;
  line-height: 18.4px;
  position: absolute;
  top: 144px;
  width: 166px;
}

.akar-iconscheck-2 {
  height: 20px;
  left: 37px;
  position: absolute;
  top: 158px;
  width: 20px;
}

.testnet-goerli {
  height: 45px;
  left: 67px;
  letter-spacing: -0.64px;
  line-height: 18.4px;
  position: absolute;
  top: 196px;
  width: 127px;
}

.testnet-ropsten {
  height: 45px;
  left: 67px;
  letter-spacing: -0.64px;
  line-height: 18.4px;
  position: absolute;
  top: 248px;
  width: 127px;
}

.add-netwrok {
  height: 45px;
  left: 67px;
  letter-spacing: -0.64px;
  line-height: 18.4px;
  position: absolute;
  top: 300px;
  width: 134px;
}

