.logo-2 {
  align-items: flex-start;
  border: 0.65px none;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 22px;
  min-width: 26px;
  padding: 1.3px 1.3px;
  position: absolute;
  top: 2px;
}

.logo-2.logo-1 {
  align-items: flex-start;
  border: 0.65px none;
  display: flex;
  height: 26px;
  justify-content: flex-end;
  left: 62px;
  min-width: 26px;
  padding: 1.3px 1.3px;
  position: absolute;
  top: 3px;
}

