.new-tab {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 84px;
  justify-content: flex-end;
  min-width: 283px;
}

.epcoin {
  cursor: pointer;
  height: 38px;
  margin-top: 1px;
  width: 38px;
}

.flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 54px;
  min-height: 84px;
  width: 78px;
}

.akar-iconsgrid {
  height: 40px;
  width: 40px;
}

.nf-ts {
  height: 29px;
  letter-spacing: -0.32px;
  line-height: 18.4px;
  text-align: center;
  width: 78px;
}

.rectangle-2731 {
  background-color: var(--bb-green);
  border: 1px none;
  border-radius: 100px;
  height: 6px;
  margin-right: 1.0px;
  margin-top: 9px;
  width: 61px;
}

.fluenthistory-16-regular {
  cursor: pointer;
  height: 40px;
  margin-left: 53px;
  width: 40px;
}

