.frame-128 {
  align-items: center;
  border: 1px none;
  display: flex;
  margin-top: 217px;
  min-width: 1216px;
  position: relative;
}

.x3d-fluency-bitcoin-money-bag-1 {
  height: 449px;
  object-fit: cover;
  width: 449px;
}

