.data {
  align-items: center;
  border: 1px none;
  display: flex;
  height: 43px;
  left: 0;
  min-width: 137px;
  padding: 4px 0;
  position: absolute;
  top: 0;
}

.logo-18 {
  background-image: url(/static/img/image-24-2@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 0.8px none;
  height: 32px;
  margin-top: 1.0px;
  width: 32px;
}

.data.data-1 {
  align-self: center;
  left: unset;
  margin-bottom: 3.0px;
  position: relative;
  top: unset;
}

