.base-1,
.base-2,
.base-3,
.base-4,
.base-5,
.base-6 {
  align-items: center;
  background-color: var(--g1);
  border: 1px none;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 926px;
  position: absolute;
  top: 0;
  width: 428px;
}

.tab-base-1,
.tab-base-2,
.tab-base-3,
.tab-base-4,
.tab-base-5,
.tab-base-6 {
  align-items: flex-end;
  background-color: var(--text);
  border: 1px none;
  display: flex;
  height: 100px;
  justify-content: flex-end;
  margin-top: 762px;
  min-width: 428px;
  padding: 0 72px;
  position: relative;
}

