.hover4 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 317px;
  min-width: 392px;
  overflow-x: hidden;
}

.overlap-group1-7 {
  height: 315px;
  margin-left: -13px;
  margin-top: 2.49px;
  position: relative;
  width: 405px;
}

.rectangle-2725-4 {
  height: 308px;
  left: 13px;
  position: absolute;
  top: 7px;
  width: 392px;
}

.bump-4 {
  height: 17px;
  left: 27px;
  position: absolute;
  top: 0;
  width: 37px;
}

.rpc-1 {
  height: 45px;
  left: 67px;
  letter-spacing: -0.64px;
  line-height: 18.4px;
  position: absolute;
  top: 144px;
  width: 166px;
}

.akar-iconscheck-3 {
  height: 20px;
  left: 37px;
  position: absolute;
  top: 158px;
  width: 20px;
}

.rpc-2 {
  height: 45px;
  left: 67px;
  letter-spacing: -0.64px;
  line-height: 18.4px;
  position: absolute;
  top: 196px;
  width: 127px;
}

.add-rpc {
  height: 45px;
  left: 67px;
  letter-spacing: -0.64px;
  line-height: 18.4px;
  position: absolute;
  top: 244px;
  width: 134px;
}

