.input-5 {
  align-items: flex-start;
  background-color: var(--g2);
  border: 1px none;
  border-radius: 12px;
  display: flex;
  height: 47px;
  justify-content: flex-end;
  left: 32px;
  min-width: 363px;
  padding: 0 4px;
  position: absolute;
  top: 211px;
}

.overlap-group1-3 {
  height: 47px;
  position: relative;
  width: 342px;
}

.search-public-address-or-ens {
  height: 45px;
  left: 0;
  letter-spacing: -0.64px;
  line-height: 18.4px;
  position: absolute;
  top: 0;
  width: 315px;
}

.search-4 {
  height: 16px;
  left: 318px;
  position: absolute;
  top: 16px;
  width: 16px;
}

