.frame-130 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  height: 449px;
  justify-content: flex-end;
  left: 0;
  min-width: 1216px;
  padding: 61px 54px;
  position: absolute;
  top: 0;
}

