:root { 
  --alabaster: #fafbf833;
  --bb-background: #e2fddc;
  --bb-green: #6deb51;
  --bb-green-dark: #4fb937;
  --black: #000000;
  --black-2: #0000004c;
  --black-bg: #333333;
  --dove-gray: #707070;
  --g1: #fafbf8;
  --g2: #eff3ec;
  --g4: #b2b8ac;
  --g5: #91968b;
  --gray: #909090;
  --gray-7: #333333;
  --negative-red: #ee3d3d;
  --positive-green: #39b21e;
  --text: #2d2d2d;
  --tundora: #454545;
  --white: #ffffff;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 13px;
  --font-size-xl: 18px;
  --font-size-xs: 12px;
  --font-size-xxl: 24px;
  --font-size-xxs: 11px;
 
  --font-family-inter: "Inter", Helvetica;
}
.inter-medium-heavy-metal-18px {
  color: var(--text);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-heavy-metal-14px {
  color: var(--text);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-white-14px {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-eagle-11px {
  color: var(--g4);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-gray-16px {
  color: var(--g5);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-screamin-green-16px {
  color: var(--bb-green);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.inter-medium-heavy-metal-16px {
  color: var(--text);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-mine-shaft-12px {
  color: var(--black-bg);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-heavy-metal-26px {
  color: var(--text);
  font-family: var(--font-family-inter);
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
}

.inter-medium-gray-14px {
  color: var(--g5);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-dove-gray-14px {
  color: var(--dove-gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-eagle-14px {
  color: var(--g4);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-white-24px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}

.inter-medium-white-18px {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.inter-medium-white-14px-2 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.inter-semi-bold-screamin-green-18px {
  color: var(--bb-green);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
}

.inter-medium-white-13px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.inter-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-gray-18px {
  color: var(--gray);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.inter-semi-bold-eagle-12px {
  color: var(--g4);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
}

.inter-semi-bold-heavy-metal-24px {
  color: var(--text);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
}

.inter-medium-apple-16px {
  color: var(--bb-green-dark);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}
