.frame-125 {
  align-items: flex-start;
  border: 1.48px none;
  display: flex;
  height: 308px;
  margin-bottom: 19.0px;
  margin-left: 93px;
  min-width: 620px;
}

.overlap-group-1 {
  height: 371px;
  margin-top: -81.48px;
  position: relative;
  width: 620px;
}

.lorem-ipsum-dolor {
  height: 271px;
  left: 0;
  letter-spacing: -1.62px;
  line-height: 59.1px;
  position: absolute;
  top: 0;
  width: 620px;
}

.sed-ut-perspiciatis-1 {
  height: 161px;
  left: 0;
  letter-spacing: 0;
  line-height: 41.3px;
  position: absolute;
  top: 210px;
  width: 611px;
}

.frame-125.frame-125-1 {
  margin-bottom: unset;
  margin-left: unset;
  margin-top: 1px;
}

.frame-125.frame-125-2 {
  margin-bottom: unset;
  margin-left: unset;
}

